/*some remark here*/

* {
	/*margin: 0 auto;*/
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', san-serif;

}

/*body {
	background-attachment: fixed;
	font: 10px ;

	font-weight: bold;
}*/

a , a:visited{
text-decoration: none;
color:blue;
}
a:hover{
	color: silver;
}
ul{
list-style: none;

}
.link-button{
	font-size: 16px;
}
.temp-element{
position:fixed;
top:0;
left:0;

}

.hidden-nav{

visibility:hidden;

}
.selected-screen{
 background-color:  #d5ff80;
 margin-bottom: 5px;

}

.submit-btn{

margin: auto;
display: inline-block;
}



.root-container{
	display: flex;
	position: absolute;
	top: 55px;
	bottom: 5px;
	left: 20px;
	right: 0;
	height: 90%;
	width: 98%;
	border: solid blue 2px;
	background-color: #d5ff80;



}

.auth-container{
	position: relative;
	padding : 10px;
	padding-top: 25px;
  margin: auto;
	border: solid black 1px;
	border-radius: 3%;
	width : 40%;
	font-size: 14px;
	background-color: white;
	height: 45%;



}

.main-container{
	position: relative;
	padding : 10px;
	padding-top: 25px;
	top: 20px;
	bottom: 40px;
	left: 5px;
	border: solid black 1px;
	border-radius: 3%;
	width : 45%;
	margin : 5px;
	font-size: 14px;
	background-color: white;
	height: 95%




}

.list-container{
position: relative;
top: 20px;
bottom: 40px;
left: 0;
height:95%;
border: solid black 1px;
border-radius: 3%;
width : 25%;
margin : 5px;
margin-left:10px;
padding-left:10px;
font-size: 18px;
vertical-align:middle;
overflow: auto;
background-color: white;

}
.ghost-list-container{
visibility:hidden;
position: relative;
top: 20px;
bottom: 40px;
left: 0;
height:95%;
border: solid black 1px;
border-radius: 3%;
width : 15%;
margin : 5px;
margin-left:10px;
padding-left:10px;
font-size: 18px;
vertical-align:middle;
overflow: auto;
background-color: white;

}


.nav-bar{

position: fixed;
top: 0;
left: 0;
right: 50px;
height: 50px;
text-align: left;
vertical-align:middle;
padding-left:25px;

}
/* .nav-bar a{
	padding:20px;
	vertical-align:middle;
} */

.nav-bar-user{
	position: fixed;
	top: 0;
	right: 0;
	right: 50px;
	height: 50px;
	text-align: left;
	vertical-align:middle;
	padding-left:25px;
	display: inline-block;
	z-index: 100;

}


.display-bar{
margin-left:20px;
margin-top:5px;

width: 80%;
}

.display-bar-multi{
	display: flex;
	flex-wrap: wrap;
  max-height: 250px;
	overflow: auto;
	margin-left: 25px;
	z-index: 10;


}
.cb-div{
margin-right: 20px;

}

.business-err{
 margin: 50px;

}



.avatar{

width: 2em;
height: 2em;
border-radius: 50%;
margin: 5px;

}
#avatar-login{
	width: 2em;
	height: 2em;
	border-radius: 50%;
	margin-top: 15px;
	margin-left: 15px;
	vertical-align: middle;


}


.single-display-avatar{

width: 5em;
height: 5em;
border-radius: 50%;
margin: 5px;

}

.regErrorMessage{
display: inline-block;
color: red;
margin-left: 10px;
}

.regSuccessMsg{
	display: inline-block;
	color: green;
	margin-left: 10px;


}

.err-image{
	width: 50%;
	height: 50%;
	margin: auto;
	position: absolute;
	left: 25%;
	top: 25%;
	z-index: -100;


}
